:root {
  /* --aside-width: 400px; */
  --aside-width: 340px;
  --cart-aside-summary-height-with-discount: 300px;
  --cart-aside-summary-height: 250px;
  --grid-item-width: 355px;
  --header-height: 64px;
  --color-dark: #000;
  --color-light: #fff;
}

img {
  border-radius: 4px;
}

@font-face {
  font-family: 'Nord-Bold';
  src: url('https://cdn.shopify.com/s/files/1/0584/8688/2388/files/Nord-Bold.eot?v=1738933777');
  src: url('https://cdn.shopify.com/s/files/1/0584/8688/2388/files/Nord-Bold.eot?v=1738933777?#iefix') format('embedded-opentype'),
      url('https://cdn.shopify.com/s/files/1/0584/8688/2388/files/Nord-Bold.woff2?v=1738933776') format('woff2'),
      url('https://cdn.shopify.com/s/files/1/0584/8688/2388/files/Nord-Bold.woff?v=1738933776') format('woff'),
      url('https://cdn.shopify.com/s/files/1/0584/8688/2388/files/Nord-Bold.ttf?v=1738933777') format('truetype');
  
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica';
  src: url('https://cdn.shopify.com/s/files/1/0584/8688/2388/files/Helvetica.ttf?v=1738994493') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Helvetica-Bold';
  src: url('https://cdn.shopify.com/s/files/1/0584/8688/2388/files/Helvetica-Bold.ttf?v=1738994507') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
/*
* --------------------------------------------------
* components/Aside
* --------------------------------------------------
*/
aside {
  background: var(--color-light);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.3);
  height: 100vh;
  max-width: var(--aside-width);
  min-width: var(--aside-width);
  position: fixed;
  right: calc(-1 * var(--aside-width));
  top: 0;
  transition: transform 200ms ease-in-out;
  max-width: 450px;
}

aside header {
  align-items: center;
  border-bottom: 1px solid var(--color-dark);
  display: flex;
  height: var(--header-height);
  justify-content: space-between;
  padding: 0 20px;
}

aside header h3 {
  margin: 0;
}

aside header .close {
  font-weight: bold;
  opacity: 0.8;
  text-decoration: none;
  transition: all 200ms;
  /* width: 20px; */
  width: 32px;
}

aside header .close:hover {
  opacity: 1;
}

aside header h2 {
  margin-bottom: 0.6rem;
  margin-top: 0;
}

aside main {
  margin: 1rem;
}

aside p {
  margin: 0 0 0.25rem;
}

aside p:last-child {
  margin: 0;
}

aside li {
  margin-bottom: 0.125rem;
}

.overlay {
  background: rgba(0, 0, 0, 0.2);
  bottom: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  position: fixed;
  right: 0;
  top: 0;
  transition: opacity 400ms ease-in-out;
  transition: opacity 400ms;
  visibility: hidden;
  z-index: 10;
}

.overlay .close-outside {
  background: transparent;
  border: none;
  color: transparent;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: calc(100% - var(--aside-width));
}

.overlay .light {
  background: rgba(255, 255, 255, 0.5);
}

.overlay .cancel {
  cursor: default;
  height: 100%;
  position: absolute;
  width: 100%;
}

.overlay.expanded {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}
/* reveal aside */
.overlay.expanded aside {
  transform: translateX(calc(var(--aside-width) * -1));
}

button.reset {
  border: 0;
  background: inherit;
  font-size: inherit;
}

button.reset > * {
  margin: 0;
}

button.reset:not(:has(> *)) {
  height: 1.5rem;
  line-height: 1.5rem;
}

button.reset:hover:not(:has(> *)) {
  text-decoration: underline;
  cursor: pointer;
}

@media(max-width: 549px){
  aside {
    max-width: 340px;
  }
}
/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/
.header {
  align-items: center;
  background: #fff;
  display: flex;
  height: var(--header-height);
  padding: 0 1rem;
  position: sticky;
  top: 0;
  z-index: 1;
}


.header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}

.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}
.header-menu-mobile a{
text-transform: uppercase;
}

.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  @media (min-width: 45em) {
    display: flex;
    grid-gap: 1rem;
    margin-left: 0px;
  }
}

.header-menu-item {
  cursor: pointer;
}

.header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto;
}
.header .header-menu-mobile-toggle h3{
  font-size: 24px;
}
/*
* --------------------------------------------------
* components/Footer
* --------------------------------------------------
*/
.footer {
  background: var(--color-dark);
  margin-top: auto;
}

.footer-menu {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  /* padding: 1rem; */
}

.footer-menu a {
  color: var(--color-light);
  font-family: 'Helvetica';
}

@media(max-width: 549px){
  .footer-menu{
    margin-top: 15px;
   line-height: 1.6;
  }

  .footer .footer-menu-column nav a {
    font-size: 13px;
  }
}
/*
* --------------------------------------------------
* components/Cart
* --------------------------------------------------
*/
.cart-main {
  height: 100%;
  max-height: calc(100vh - var(--cart-aside-summary-height));
  overflow-y: auto;
  width: auto;
}

.cart-main.with-discount {
  max-height: calc(100vh - var(--cart-aside-summary-height-with-discount));
}

.cart-line {
  display: flex;
  padding: 0.75rem 0;
  gap: 15px;
}

.cart-line img {
  height: 100%;
  display: block;
  margin-right: 0.75rem;
}

.cart-summary-page {
  position: relative;
}

.cart-summary-aside {
  background: white;
  border-top: 1px solid var(--color-dark);
  bottom: 0;
  padding-top: 0.75rem;
  position: absolute;
  /* width: calc(var(--aside-width) - 40px); */
  width: calc(var(--aside-width) - -14%);
}

@media(max-width: 549px){
  .cart-summary-aside {
    width: calc(var(--aside-width) - 14%);
  }
}
.cart-line-quantity {
  display: flex;
  margin-top: 10px;
}

.cart-discount {
  align-items: center;
  display: flex;
  margin-top: 0.25rem;
}

.cart-subtotal {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

/* Custom Cart CSS */

.cart-main ul li small{
  font-size: 14px;
  line-height: 1.6;
  color: #404041;
  font-weight: 400;
}
.cart-main p strong{
  font-size: 16px;
  line-height: 1.6;
  color: #404041;
  font-family: DM Sans, sans-serif;
}
/* .cart-main  .cart-line-quantity .qty-count{
  display: flex;
  flex-direction: column;
  gap: 5px;
} */

 aside header .card-drawer-heading{
  font-size: 1.36667em;
}

.cart-main .cart-line-quantity {
  display: flex;
  flex-direction: column;
}
 
.cart-main .quantity-wrapper{
  display: flex;
  margin-top: 10px;
  gap: 5px;
  padding-left: 20px;
  width: 100%;
  max-width: 100px;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 5px 5px;
  padding-left: 10px;
  border: 1px solid;
  };

  .cart-main .qty-icon-wrapper{
    display: flex ;
    align-items: center;
    gap: 5px;
  }

  .cart-main  .cart-summary-heading{
    display: none;
  }
  .cart-main  .subtotal-heading{
  font-size: 1.1rem;
  font-weight: normal;
  }
  .cart-line .product-title-price{
    display: flex;
    gap: 10px;
  }

  .cart-line .product-type-content{
    max-width: 233px;
  }

  .cart-main .checkout-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 100%;
    background-color: #5878ee;
    cursor: pointer;
    /* margin-bottom: 20px; */
    padding: 15px 0;
    text-decoration: none;
    border-radius: 50px;
  }
  
  .cart-main .checkout-button p {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #fff;
    text-align: center;
    margin: 0;
  }
  .cart-main .product-type-content li small{
    display: none;
  }

  .cart-line-quantity .quantity-main-div{
   display: flex;
   gap: 5px;
   align-items: center;
  }
  .cart-line-quantity .remove-item{
   margin-top: 12px;
  }
  .cart-line-quantity .remove-item img{
    width: 20px;
  }

/*
* --------------------------------------------------
* components/Search
* --------------------------------------------------
*/
.predictive-search {
  height: calc(100vh - var(--header-height) - 40px);
  overflow-y: auto;
}

.predictive-search-form {
  background: var(--color-light);
  position: sticky;
  top: 0;
}

.predictive-search-result {
  margin-bottom: 2rem;
}

.predictive-search-result h5 {
  text-transform: uppercase;
}

.predictive-search-result-item {
  margin-bottom: 0.5rem;
}

.predictive-search-result-item a {
  align-items: center;
  display: flex;
}

.predictive-search-result-item a img {
  margin-right: 0.75rem;
  height: 100%;
}

.search-result {
  margin-bottom: 1.5rem;
}

.search-results-item {
  margin-bottom: 0.5rem;
}

.search-results-item a {
  display: flex;
  flex: row;
  align-items: center;
  gap: 1rem;
}

/*
* --------------------------------------------------
* routes/__index
* --------------------------------------------------
*/
.featured-collection {
  display: block;
  margin-bottom: 2rem;
  position: relative;
}

.featured-collection-image {
  aspect-ratio: 1 / 1;
  @media (min-width: 45em) {
    aspect-ratio: 16 / 9;
  }
}

.featured-collection img {
  height: auto;
  max-height: 100%;
  object-fit: cover;
}

.recommended-products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(2, 1fr);
  @media (min-width: 45em) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.recommended-product img {
  height: auto;
}
.recommended-products .recommended-products-heading{
font-size: 1.8rem;
}
@media(max-width: 549px){
  .recommended-products .recommended-products-heading{
    font-size: 1.4rem;
    }
}
/*
* --------------------------------------------------
* routes/collections._index.tsx
* --------------------------------------------------
*/

.collections{
  margin-top: 170px;
    padding: 0 3rem;
}
.collections-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.collection-item img {
  height: auto;
}

.collection{
  padding: 5rem 1.5rem;
}
.collection h1{
  font-size: 2.2rem;
  margin-top: 4rem;
 }

 
@media(max-width: 767px){
  .collection{
   padding-top: 20px;
  }
  collections{
    padding: 0 1.5rem;
  }
  .collection h1{
    font-size: 1.6rem
   }
}
/*
* --------------------------------------------------
* routes/collections.$handle.tsx
* --------------------------------------------------
*/
.collection-description {
  margin-bottom: 1rem;
  max-width: 95%;
  @media (min-width: 45em) {
    max-width: 600px;
  }
}

.products-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.product-item img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/products.$handle.tsx
* --------------------------------------------------
*/
.product {
  display: grid;
  @media (min-width: 45em) {
    grid-template-columns: 1fr 1fr;
    grid-gap: 4rem;
  }
}

.product h1 {
  margin-top: 0;
}

.product-image img {
  height: auto;
  width: 100%;
}

.product-main {
  align-self: start;
  position: sticky;
  top: 6rem;
}

.product-price-on-sale {
  display: flex;
  grid-gap: 0.5rem;
}

.product-price-on-sale s {
  opacity: 0.5;
}

.product-options-grid {
  display: flex;
  flex-wrap: wrap;
  grid-gap: 0.75rem;
}

.product-options-item {
  padding: 0.25rem 0.5rem;
}
.product{
  margin-top: 170px;
  padding: 0 3rem;
}

.product form button{
  color: #fff;
  background-color: #5878ee;
  border-color: #5878ee;
  font-size: .875rem;
  line-height: 1.25rem;
  line-height: 100%;
  letter-spacing: .1em;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  display: inline-flex;
  height: 3.125rem;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  padding: .75rem 1.25rem;
  text-align: center;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}

@media(max-width: 767px){
  .product form button{
   max-width: 70%;
  }
  .product{
    margin-top: 20px;
    padding: 0 1.5rem;
  }
  .product .product-main{
    margin-top: 30px;
  }
}

@media(max-width: 549px){
  .product form button{
   max-width: 100%;
  }
}
/*
* --------------------------------------------------
* routes/blog._index.tsx
* --------------------------------------------------
*/
.blog-grid {
  display: grid;
  grid-gap: 1.5rem;
  grid-template-columns: repeat(auto-fit, minmax(var(--grid-item-width), 1fr));
  margin-bottom: 2rem;
}

.blog-article-image {
  aspect-ratio: 3/2;
  display: block;
}

.blog-article-image img {
  height: 100%;
}

/*
* --------------------------------------------------
* routes/blog.$articlehandle.tsx
* --------------------------------------------------
*/
.article img {
  height: auto;
  width: 100%;
}

/*
* --------------------------------------------------
* routes/account
* --------------------------------------------------
*/

.account-logout {
  display: inline-block;
}


/* Header logo css */

.header-main-logo img{
  width: 100%;
  display: block;
  max-width:130px;
  padding: 10px 0;
}

/*
* --------------------------------------------------
* components/Header
* --------------------------------------------------
*/


.header {
  align-items: center;
  background: #fff;
  z-index: 2;
  border-radius: 50px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  margin: 0 auto;
  left: 0;
  right: 0;
  /* height: 60px; */
  width: 95%;
  gap: 20px;
  padding: 0 2rem;
  position: fixed;
  top: 4%;
  box-shadow: 0 0 12px #0000001a;
}


.header-menu-mobile-toggle {
  @media (min-width: 48em) {
    display: none;
  }
}


.header-menu-mobile {
  display: flex;
  flex-direction: column;
  grid-gap: 1rem;
}


.header-menu-desktop {
  display: none;
  grid-gap: 1rem;
  @media (min-width: 48em) {
    display: flex;
    grid-gap: 1rem;
    /* margin-left: 3rem; */
  }
}


.header .header-menu-desktop{
order: 1;
}
.header .header-menu-item {
  cursor: pointer;
  color: black;
  text-decoration: none;
  /* font-family: DM Mono, sans-serif; */
  font-size: .875rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  line-height: 100%;
  letter-spacing: .1em;
  font-family: 'Helvetica-Bold';
}

.header .header-menu-item:hover{
  color: #5878ee!important;
  /* font-weight: 700; */
}

.header .header-ctas {
  align-items: center;
  display: flex;
  grid-gap: 1rem;
  margin-left: auto;
  gap: 40px;
  order: 3;
}
.header .header-ctas .reset{
  order: 1;
}
.header .header-ctas a{
  order: 2;
}
.header .header-ctas .cart-icon{
  order: 3;
}
.header .header-ctas .header-menu-mobile-toggle{
  order: 4;
}

.header .cart-icon {  
  position: relative;
display: flex;
}


.header .cart-icon-img {
  width: 24px;  
  height: 24px;
  position: relative;
}


.header .cart-count {
  position: absolute;
  top: -11px;
  right: -5px;
  font-size: 11px;
  font-weight: bold;
  color: white;
  background-color: #000;
  border-radius: 50%;
  padding: 2px 6px;
  transform: translate(19%, 31%);
}
.header .search-icon{
  cursor: pointer;
}

@media(max-width: 1200px){
  .header {
    left:0;
  }
  .header .header-ctas {
    gap: 25px;
  }
}

@media(max-width: 990px){
  .header .header-menu-item {
    font-size: .775rem;
  }
}
@media(max-width: 767px){
  .header {
    grid-template-columns: 1fr 1fr;
    border-radius: 0px;
    top: 0;
    position: sticky;
    width: 100%;
    padding: 0 15px;
  }
 
  .header .header-ctas {
  margin-left: 0;
  justify-self: flex-end;
  }
  .header .header-menu-mobile-toggle{
    cursor: pointer;
    order: 4;
  }
}


@media(max-width: 549px){
  .header{
    padding: 0 15px;
  }
  .header .header-ctas img{
  max-width: 24px;
}
.header .header-ctas {
  gap: 15px;
}
}


@media(max-width: 400px){
  .header{
  gap: 1px;
}
}

.page-width {
  padding-right:15px;
  padding-left: 15px;
}

@media(min-width: 767px){
  .page-width {
    max-width: 1480px;
    margin-right: auto;
    margin-left: auto;
    padding-right:50px;
    padding-left: 50px;
}
}

/*
.banner CSS

*/

.main-banner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}


/* Banner Image */
.banner-img {
  width: 100%;
  /* height: 100%; */
  background-repeat: no-repeat; 
  background-size: cover; 
  background-position: center;
}


.banner-img img {
  width: 100%;
  /* height: auto; */
  object-fit: cover; /* Ensures image scales properly */
  display: block;
  border-radius: 0px;
}


/* Banner Text Styling */
.banner-text {
  position: absolute;
  text-align: center;
  color: #fff;
  top: unset;
  left: 0;
  right: 0;
  /* transform: translate(-50%, -50%); */
  /* max-width: 600px; */
  /* padding: 20px; */
}


.banner-text p {
  font-size: 18px;
  /* margin-bottom: 10px; */
  /* word-spacing: 8px; */
  margin-bottom: 15px;
  letter-spacing: 1.1px;
}


.banner-text h2 {
  font-size: 3.75rem;
  line-height: 1.2;
  margin-bottom: 40px;
  letter-spacing: .05em;
  overflow-wrap: anywhere;
 font-weight: normal;
 font-family: 'Helvetica';
}


.banner-text button {
  background: #5878ee;
  font-size: .875rem;
  line-height: 1.25rem;
  line-height: 100%;
  letter-spacing: .1em;
  text-transform: uppercase;
  position: relative;
  margin: 0;
  display: inline-flex;
  height: 3.125rem;
  width: 100%;
  max-width: 300px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  white-space: nowrap;
  border-radius: 9999px;
  border-width: 1px;
  border-style: solid;
  border: none;
  padding: .75rem 1.25rem;
  text-align: center;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(.4,0,.2,1);
  transition-duration: .15s;
}


@media (max-width: 990px){
  .banner-text h2 {
    font-size: 2.75rem;
  }

}


/* Responsive Adjustments for Mobile */
@media (max-width: 768px) {

  .banner-text p {
    font-size: 14px;
  }
  .banner-text h2 {
    font-size: 2.8rem;
    line-height: normal;
    margin-top: 0;
  }


  /* .banner-text button {
    max-width: 155px;
    height: 40px;
    font-size: 14px;
  } */
}


@media (max-width: 480px) {
  .banner-text p {
    font-size: 14px;
  }
  .banner-text button {
    font-size: .8rem;
  }
}

@media (min-width: 767px) {
  .main-banner .banner-text {
      max-width: 800px;
      bottom: 20%;
  }
}


/* 
components/Footer.CSS
* --------------------------------------------------
*/ 
.footer {
  background: #1f2b37;
  margin-top: auto;
  display: grid;
      grid-template-columns: 20% auto 20%;
      /* align-items: center; */
      /* justify-content: space-between; */
      gap: 70px;
      padding: 6rem 3rem;
      align-items: flex-start;
}
.footer .footer-map{
  border-right: 1px solid #4c555f;
  border-left: 1px solid #4c555f;
 
}
.footer .footer-map img{
  padding-left: 6rem;
  padding-right: 6rem;
}
.footer .footer-menu {
  align-items: flex-start;
  display: flex;
  grid-gap: 8px;
  /* padding: 1rem; */
  flex-direction: column;
  line-height: 2.1;
}


.footer .footer-menu a {
  /* color: var(--color-light); */
  text-transform: uppercase;
  font-size: 14px;
}


.footer .footer-menu-columns {
  display: flex;
  gap: 20px;
 
}


.footer .footer-menu-column {
  max-width: 180px;
  margin: 0 auto;
}


.footer .footer-menu-column-title {
  font-size: 1.6rem;
  margin-top: 0;
  margin-bottom: 20px;
}




.footer .footer-menu-column nav a {
  display: block;
  margin-bottom: 5px;
  text-decoration: none;
  color: inherit;
  text-decoration: inherit;
  text-transform: uppercase;
  word-spacing: 4px;
  letter-spacing: 1.5px;
  font-size: 14px;
}


.footer .footer-menu-column nav a:hover {
  text-decoration: underline;
}


.footer .footer-menu-column-title {
  color:#fff;
}
.footer .footer-logo-address {
  display: flex;
  flex-direction: column;
  align-items: flex-start;


}


.footer .footer-logo-image {
  max-width: 150px;
  height: auto;
  display: block;
}


.footer .footer-address-text {
  font-size: 1rem;
  color: #fff;
  max-width: 215px;
  word-spacing: 2px;
  letter-spacing: 1px;
  font-family: 'Helvetica';
}
.footer .footer-address{
  line-height: 4;
}
.footer .footer-address .foot-email{
  color: #fff;
  font-family: 'Helvetica';
}


@media (max-width: 1200px){
  .footer{
    grid-template-columns: 25% auto 45%;
    padding: 3rem 1rem;
    gap: 20px;
  }
  /* .footer .footer-menu-columns {
    border-left: 1px solid #4c555f;
    border-right: 1px solid #4c555f;
    padding-left: 5px;
  } */
  .footer .footer-map img{
    padding-left: 0;
    padding-right: 0;
  }
  .footer .footer-map {
    order: 3;
    border-right: none;
    border-left: none;
    /* max-width: 600px; */
  }


}
@media (max-width: 768px) {
.footer{
    grid-template-columns: 1fr;
    padding: 3rem 1rem;
    gap: 15px;
  }
.footer .footer-map,
.footer .footer-menu{
    border-top: 1px solid #4c555f;
    border-right: none;
    border-left: none;
  }
.footer .footer-map img{
    padding-top: 1.5rem;
    /* padding-bottom: 1rem; */
    padding-left: 0;
    padding-right: 0;
 }
.footer .footer-logo-address {
    flex-direction: column;
    /* align-items: center; */
    /* text-align: center; */
  }
.footer .footer-menu-columns {
    flex-direction: column;
    border-top: 1px solid #4c555f;
    padding-top: 1.5rem;
  }

.footer .footer-menu-column {
    margin-bottom: 20px;
    align-self: flex-start;
    margin: 0;
  }
.footer .footer-address {
    line-height: 2.5;
}
.footer .footer-logo-image{
  margin: 0 auto;
}
.footer .footer-address-title{
  padding-top: 3px;
  padding-bottom: 3px;
}


}


@media(max-width: 549px){
  .footer .footer-menu-column-title{
    font-size: 1.25rem;
    }
    .footer .footer-menu-column nav a {
      font-size: 13px;
    }
    .footer .footer-address-text {
      font-size: 14px;
    }
}

@media (max-width: 768px) {
.footer-menu {
  padding-left: 0;
}
}


/*mage Text Section */

.image-text-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  padding: 0 4rem;
  margin-bottom: 70px;
  margin-top: 70px;
  padding: 3.5rem;
  background-color: #f6f6f8;
  }
  .image-text-wrapper .imageText{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  }
  .image-text-wrapper .image-content{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .image-text-wrapper .caption{
    font-size: .75rem;
    line-height: 1rem;
    text-transform: uppercase;
    line-height: 100%;
    letter-spacing: .1em;
  }
  
  .image-text-wrapper .image-heading{
    font-size: 1.8rem;
    line-height: 2.2rem;
    font-weight: normal;
  }
  .image-text-wrapper .img-text-btn {
    background: #5878ee;
    font-size: .875rem;
    color: #fff;
    line-height: 1.25rem;
    line-height: 100%;
    letter-spacing: .1em;
    text-transform: uppercase;
    position: relative;
    margin: 0;
    display: inline-flex;
    height: 3.125rem;
    width: 100%;
    max-width: 300px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    white-space: nowrap;
    border-radius: 9999px;
    border-width: 1px;
    border-style: solid;
    border: none;
    padding: .75rem 1.25rem;
    text-align: center;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(.4,0,.2,1);
    transition-duration: .15s;
  }

  .image-text-wrapper .color-text{
   color: #5878ee; 
  }
  
  @media(max-width: 850px){
    .image-text-wrapper{
      grid-template-columns: 1fr;
      padding: 1.5rem;
      }
  }
  
  @media(max-width: 990px){
    .image-text-wrapper .image-heading {
  font-size: 1.6rem;
    }
  }
  
  @media(max-width: 549px){
    .image-text-wrapper{
      padding: 0 1.5rem;
    }
  }

  
/* logo slider Container styling */
/* Container for heading and slider */
.custom .container {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #333;
  color: white;
  padding: 20px;
  height: 200px; /* Adjust height as needed */
  margin-top: 30px;
  margin-bottom: 30px;
}


.custom .heading .custom-title{
   font-size: 1.8rem;
    line-height: 1.4;
    margin-bottom: 1rem;
    text-transform: uppercase;
    margin-top: 30px;
    font-family: 'Helvetica-Bold';
    letter-spacing: 0.5px;
}
.custom .slider {
  width: 100%;
  height: 130px; /* Adjust height based on your need */
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #fff; /* Optional background color */
}

.custom .slide-track {
  display: flex;
  width: calc(200%); /* To handle seamless scrolling */
  animation: scroll 20s linear infinite;
}

.custom .slide {
  flex: 0 0 auto;
  width: 25%; /* Divide equally for 4 images */
  display: flex;
  justify-content: center;
  align-items: center;
}
.custom .container {
  display: flex;
  align-items: center;
  gap: 20px;
  background-color: #333;
  color: white;
  padding: 20px;
  height: 200px; /* Adjust height as needed */
}

/* Heading styles */
.custom .heading {
  flex: 0 0 20%; /* Occupy 20% of the width */
  text-align: center;
}
.custom img {
  width: 150px; /* Adjust image size */
  height: auto;
}
@media(max-width: 990px){
  .custom .heading .custom-title {
    font-size: 1.6rem;
  }
  .custom .slide {
    width: 40%;
  }
}
@media(max-width: 767px){
  .custom .heading .custom-title {
    font-size: 1.4rem;
  }
}
@media(max-width: 549px){
  .custom .slide{
    width: 60%;
  }
  .custom .slide-track {
    animation: scroll 10s linear infinite;
  }
  .custom img {
    width: 125px;
  }
  .custom .heading .custom-title{
    font-size: 1.1rem;
  }
}

/* Keyframes for smooth scrolling */
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}


/* Text-Banner  (Lost your data? Don't fret.) */

.text-banner .banner-container{
  width: 100%;
   max-width: 1320px;
   margin: 0 auto;
   border-radius: 8px;
   margin-bottom: 30px;
   margin-top: 30px;
   margin-bottom: 30px;
}
.text-banner .banner-container .banner-button{
margin-top: 30px;
}

.text-banner .banner-container .banner-content .banner-title{
 max-width: 900px;
 color: #000;
 margin-bottom: 30px;
 font-size: 4.5rem;
 letter-spacing: normal;
 font-family: 'Helvetica';
}

.text-banner .banner-container .banner-content p{
 max-width: 800px;
 margin: 0 auto;
 margin-top: 20px;
 color: #000;
 font-size: 17px;
 letter-spacing: 0.8px;
 line-height: 1.5;
}
@media(max-width: 990px){
 /* .text-banner .banner-container{
   height: 510px;
 } */
 .text-banner .banner-container .banner-content .banner-title {
   font-size: 3.5rem;
   margin-bottom: 15px;
 }
 .text-banner .banner-container .banner-content p{
   margin-top: 10px;
   font-size: 16px;
 }
 .text-banner .banner-container .banner-button {
   margin-top: 25px;
}
/* .text-banner  .banner-container .banner-button {
 padding: 13px 40px
} */
}

@media(max-width: 767px){
 .text-banner .banner-container{
   height: 510px;
 }
 .text-banner .banner-container .banner-content .banner-title {
   font-size: 2.5rem;
   margin-bottom: 15px;
 }
 .text-banner .banner-container .banner-content p{
   margin-top: 10px;
   font-size: 14px;
 }
 .text-banner .banner-container .banner-button {
   margin-top: 15px;
}
.text-banner  .banner-container .banner-button {
 padding: 13px 40px
}
}

/* NewBanner CSS (Recover your most important digital assets today.)*/

.banner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: rgb(246, 246, 248);
  color: white;
  text-align: center;
  padding: 20px;
  background-size: cover; /* Ensures the image covers the entire container */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat; /* Prevents background image from repeating */
  margin-top: 30px;
  margin-bottom: 30px;
}

.banner-container .banner-content .banner-title {
  font-size: 3.75rem;
    line-height: 1.2;
    margin-bottom: 40px;
    letter-spacing: .01em;
    overflow-wrap: anywhere;
    font-weight: normal;
  max-width: 800px;
  margin: 0 auto;
  font-family: 'Helvetica';
}

.banner-container .banner-content p {
  font-size: 1.2em;
  margin-top: 10px;
  letter-spacing: 1.1px;
  margin-bottom: 15px;
}

.banner-container .banner-button {
  padding: 15px 60px;
  font-size: .875rem;
  margin-top: 20px;
  background-color: #5878ee;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  text-transform: uppercase;
  letter-spacing: 2px;
  margin-top: 50px;
}
/* 
.banner-container .banner-button:hover {
  background-color: #ff3d00;
} */

/* Responsive design for mobile screens */
@media (max-width: 768px) {

  .banner-container {
   height: 480px;
    padding: 15px;
  }

  .banner-container .banner-content .banner-title {
    font-size: 2.7em;
  }

  .banner-container .banner-content p {
    font-size: 1em;
  }

  .banner-container .banner-button {
    padding: 15px 48px;
    font-size: 14px;
  }
}

/* Smaller screens */
@media (max-width: 480px) {
  .banner-container .banner-container {
    height: 200px;
    padding: 10px;
  }

  .banner-container .banner-content .banner-title  {
    font-size: 2.3em;
  }

  .banner-container .banner-content p {
    font-size: 0.9em;
  }

  .banner-container .banner-button {
    padding: 16px 40px;
    font-size: 13px;
  }
}

/* RECOVER DIGITAL ASSETS */

.digital-assets .banner-container .banner-content .banner-title{
  max-width: 900PX;
}

.digital-assets .banner-container .banner-button {
  margin-top: 40px;
}


/******** Product Trust Badges CSS ***********/

.badges{
  text-align: left;
  margin-bottom: 50px;
  margin-top: 50px;
  padding: 3rem;
  background-color: rgb(246, 246, 248);
}


.badges .product-badge-wrapper .product-badge-text {
  font-weight: 500;
  font-size: 20px;
}

.badges .badges-wrapper {
    display: grid;
    gap: 40px;
    grid-template-columns: 1fr 1fr 1fr;
}

.badges .product-badge-wrapper {
  flex: 0 1 calc(33.33% - 20px);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: flex-start;
  gap: 15px;
}

.badges .badge-img{
  flex-shrink: 0; 
  margin-right: auto; 
  width: 35px;
  height: auto;
}

@media(max-width: 990px){
  .badges .badges-wrapper {
    grid-template-columns: 1fr 1fr;
  }
  .badges .product-badge-wrapper {
    flex: 0 1 calc(50% - 20px);
  }
  .badges .product-badge-wrapper .product-badge-text {
    font-size: 18px;
  }
}

@media(max-width: 649px){
  .badges .badges-wrapper {
    grid-template-columns: 1fr ;
  }
  .badges .product-badge-wrapper {
    flex: 0 1 calc(100% - 20px);
  }
  .badges {
    padding: 0 1.5rem;
  }
}

  /*********** Trust Badges CSS ***********/

  .trust-badges-container {
    /* text-align: center; */
  padding-top: 30px;
  padding-bottom: 30px;
  }
  
   .trust-badges {
    display: flex;
    justify-content: space-between;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    /* justify-content: center; */
    gap: 10px; /* Adjusts spacing between badges */
    flex-wrap: wrap;
    /* max-width: 1300px;
    margin: 0 auto; */
    padding: 0 1.5rem;
  }
  
   .trust-badge {
    width: 30px;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease;
  }
  /* .trust-badge-wrapper img{
    border: 1px solid rgb(88, 120, 238);
  } */
  .trust-badges-container .trust-badge:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
  }
  
  .trust-badges-container h3 {
    font-size: 1.8rem;
    font-weight: bold;
    margin-bottom: 10px;
  }
  .trust-badge-wrapper {
  display: flex;
  /* flex-direction: column; */
  gap: 7px;
  align-items: center;
  }
  
  .trust-badge-wrapper .badge-text{
    font-size: 1rem;
    font-family: 'Helvetica';
    /* max-width: 275px;
    margin: 0 auto; */
  }
  
  @media(max-width: 767px){
    .trust-badges {
      flex-direction: column;
    }
  }
  @media(max-width: 549px){
  .trust-badge-wrapper .badge-text{
    font-size: .9rem;
  }
  }
  
  /***********Product-page Trust Badges CSS ***********/

  .product .product-description p{
    max-width: 500px;
  }
  .product-badges .trust-badge-wrapper {
    display: flex;
    gap: 20px;
    flex-direction: row;
    margin-top: 0;
  }
  .product-badges .trust-badges {
    display: grid;
    grid-template-columns: 1fr;
    padding: 0;
  }
  .product-badges .trust-badge-wrapper .badge-text {
    max-width: none;
    margin: 0;
  }
  .product-badges .trust-badges-container {
    /* text-align: center; */
  padding-top: 10px;
  padding-bottom: 30px;
  }


  /* 
**************
(FAQ.css): 

***************
*/

.faq-container {
  max-width: 1300px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  display: grid;
  grid-template-columns: 25% auto;
  gap: 30px;
  margin-top: 50px;
  margin-bottom: 50px;
  
}
.faq-container .faq-heading{
font-size: 3rem;
font-weight: normal;
position: sticky;
  top: 0; 
  align-self: start; 
}
.faq-container .faq-list {
  margin-top: 20px;
}

.faq-container .faq-item {
  margin-bottom: 15px;
  border: none;
}

.faq-container .faq-question {
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ddd;
  font-size: 20px;
  font-weight: normal;
  padding-bottom: 20px;
}

.faq-container .faq-question.active {
  border-bottom: none;
}

.faq-container .faq-icon {
  display: flex;
  align-items: center;
}
.faq-container .faq-answer .atp-address{
  margin-top: 20px;
  line-height: 2;
  font-size: 17px;
}
.faq-container .faq-answer{
  padding: 6px 10px;
  background-color: #fff;
  border-bottom: 1px solid #ddd;/* Add a bottom border to the answer field */
  font-size: 18px;
  font-weight: normal;
  padding-bottom: 20px;
  max-width: 930px;
}
.faq-container .faq-answer .custom-list{
  padding: 0px 40px;
}
.faq-container .faq-answer .second-list{
  padding: 0px 40px;
  margin-top: 15px;
}
.faq-container .faq-answer p{
  background-color: #fff;
  font-size: 18px;
  font-weight: normal;
}
 .faq-container .third-list {
 padding: 0px 40px;
 margin-top: 15px;
 margin-bottom: 15px;
}
 .faq-container .third-list li{
  list-style-type: disc;
  font-size: 18px;
}

.faq-container .second-list li{
  list-style-type: disc;
  font-size: 18px;
} 

.faq-container .custom-list li{
  list-style-type: decimal;
}


@media(max-width: 990px){
  .faq-container {
    grid-template-columns: 1fr;
    gap: 0;
    padding: 0 1.5rem;
  }
  .faq-container .faq-heading{
    position: relative;
    font-size: 2rem;
  }
  
}
@media(max-width: 549px){
  .faq-container {
    margin: 30px auto;
  }
  .faq-container .faq-question {
    font-size: 18px;
  }
  .faq-container .faq-question span{
    max-width: 290px;
  }
  .faq-container .faq-heading{
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
}


/* 
***********
Section-Banner CSS 
*******************
*/

.section-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.section-banner .section-banner-overlay {
  z-index: 0;
}

.section-banner .section-banner-content h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0 20px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.section-banner .section-banner-heading{
  font-size: 3.3rem;
  font-weight: 700;
  line-height: 1.4;
  margin-bottom: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}


/*About_Us css  */

.about-text-section{
  max-width: 1100px;
  margin: 0 auto;
  padding: 20px;
  }
  .about-text-section .two-text-section {
    display: flex;
    flex-wrap: wrap; 
    gap: 16px; 
    box-sizing: border-box;
  }
  .about-text-section .about-text-heading{
    font-size: 2.5rem;
      font-weight: 700;
      line-height: 1.4;
      margin-bottom: 1rem;
      font-weight: normal;
      text-align: center;
      margin-top: 1rem;
  }
  
  .about-text-section .text-content{
    font-size: 1.1rem;
    line-height: 1.4;
    max-width: 480px;
    text-align: left;
    /* margin: 0 auto; */
  }
  .about-text-section .text-heading{
    font-size: 16px;
    text-align: left;
    text-transform: uppercase;
    /* padding: 10px; */
    margin: 0;
  }
  .about-text-section .text-block {
    flex: 1 1 45%; 
    box-sizing: border-box;
    border-radius: 8px;
    color: #333;
    font-size: 16px;
    line-height: 3;
    text-align: center;
    /* padding: 10px; */
  }
  .about-text-section .about-text-list{
    margin-top: 30px;
    font-size: 18px;
  }
  
  @media (max-width: 768px) {
    .about-text-section {
      padding: 0 1.5rem;
    }
    .about-text-section .text-block {
        flex: 1 1 100%; 
    }

    .about-text-section .about-text-heading{
      text-align: left;
      font-size: 2rem;
    }
    .section-banner .section-banner-heading {
      font-size: 3rem;
    }
  }

  /* Segate Banner CSS */
  .segate-banner .badges{
  background-color: rgb(246, 246, 248);
  padding: 1.5rem 3.5rem;
  margin-top: 20px;
  margin-bottom: 20px;
}
  .segate-banner .banner-content img{
    width: 8rem;
    margin: 0 auto;
    height: auto;
  }

  .segate-banner .banner-container{
    margin-top: 0px;
  }

  .segate-routes .image-text-wrapper{
    background-color: #fff;
  }

  /* CUSTOM CSS FOR SWIPER */

.swiper-button-prev,
.swiper-button-next {
  color: #000; /* Arrows ka color */
  background: rgba(255, 255, 255, 0.5);
  padding: 10px;
  border-radius: 50%;
}

.swiper-pagination-bullet {
  background: #000 !important; /* Dots color */
}

.featured-products {
  position: relative; /* Parent container relative */
  padding: 0 1.5rem;
}

.featured-products .custom-swiper .swiper-pagination {
  position: relative;
  bottom: 0;
  margin-top: 20px; /* Dots ke upar space dene ke liye */
}

.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next {
  position: absolute;
  bottom: -150px; /* Dots ke niche shift karna */
  width: 40px;
  height: 40px;
  background: #5878ee; /* Black background */
  color: #fff; /* White arrow color */
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

.featured-products  .swiper-button-prev{
  top: 45%;
}
.featured-products .swiper-button-next {
  top: 45%;
}

/* Arrow hover effect */
.featured-products .custom-swiper .swiper-button-prev:hover,
.featured-products .custom-swiper .swiper-button-next:hover {
  background: #444; /* Dark grey on hover */
}

/* Remove default background */
.featured-products .custom-swiper .swiper-button-prev::after,
.featured-products .custom-swiper .swiper-button-next::after {
  font-size: 35px;
  font-weight: bold;

}

.featured-products .custom-swiper .swiper-button-prev::after {
  content: "\2039"; /* Unicode escape for ‹ */
  margin-top: -8px;
  margin-left: 2px;
}

.featured-products .custom-swiper .swiper-button-next::after {
  content: "\203A"; /* Unicode escape for › */
  margin-top: -8px;
  margin-right: 2px;
}
/* featured-products CSS */

.featured-products .featured-products-title{
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 1rem;
  text-transform: uppercase;
  margin-top: 30px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 30px;
  font-family: 'Helvetica-Bold';
  letter-spacing: 0.5px;
}
.featured-products .featured-product{
  text-decoration: none;
}
.featured-products .product-title{
  font-family: DM Sans, sans-serif;
  font-size: 1.1rem;
  line-height: 1.5rem;
  font-weight: 400;
  margin-top: 15px;
}

.featured-products .product-price{
  font-size: 1rem;
  line-height: 1.5rem;
}
@media (min-width: 768px) {
  .swiper-pagination {
    display: none !important;
  }
}
@media(max-width:767px){
  .featured-products .featured-products-title{
    font-size: 1.4rem;
  }
  
.custom-swiper .swiper-button-prev,
.custom-swiper .swiper-button-next{
  display: none;
}
}

@media(max-width:549px){
  .featured-products .featured-products-title{
    font-size: 1.4rem;
  }
}

/* POLICY PAGE CSS */

.policy{
  padding: 0 1.5rem;
  max-width: 1250px;
  margin: 0 auto;
}

.policy h2{
  margin-top: 20px;
}


.policy p strong{
  margin-top: 15px;
}

/* ************************** */
 /* Hide discounts Card and GiftCard  in CartSummary Component*/

 /* **************************** */



 /* Collection Page CSS */

 .collection-page{
  padding: 0 1.5rem;
  margin-top: 117px;
 }

 .collection-page h1{
  font-size: 2.2rem
 }

 @media(max-width: 767px){
  .collection-page{
    margin-top: 0;
  }
  .collection-page h1{
    font-size: 1.6rem
   }
 }